@import './styles/variables.css';

:root {
    font-family: var(--font-main);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-primary);
    /* background-color: var(--bg-primary); - Moved to Background Component */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none !important;
    }

    .mobile-toggle {
        display: block !important;
    }
}

.mobile-toggle {
    display: none;
}